<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/toRegister}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />

    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />

    <label for="password">RePassword</label>:
    <input type="password" id="repassword" name="repassword" /> <br />

    <label for="Email">Email</label>:
    <input type="text" id="Email" name="Email" /> <br />

    <label for="Telephone">Telephone</label>:
    <input type="text" id="Telephone" name="Telephone" /> <br />





    <input type="submit" value="register" />
</form>
</body>
</html>