<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>directive</title>
    <script src="js/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>

<div id="app" v-cloak>
    {{ message }}

    <span v-once> {{ message }}</span>
    <div v-once>
        {{ message }}
    </div>
</div>


<div id="app2">
    <p v-if="status===1">当status==1的时候显示</p>
    <p v-else-if="status===2">当status==2的时候显示</p>
    <p v-else>否则显示该行</p>
</div>

<div id="app3">
    <template v-if="status3===1">
        <p>这是一段文本</p>
        <p>这是一段文本</p>
        <p>这是一段文本</p>
    </template>

</div>


<div id="app4">
    <template v-if="type==='name'">
        <label>name:</label>
        <input placeholder="name">
    </template>

    <template v-else>
        <label>email:</label>
        <input placeholder="email">
    </template>
    <button @click="handleToggleClick">切换输入类型</button>
</div>
<div id="app5">

    <ul>
        <li v-for="(book,index) in books">{{ index+1 }} -- {{ book.name}}</li>
    </ul>
    <template v-for="book in books">
        <li>{{book.name}} -- {{book.author}}</li>
    </template>


        <li  v-for="(value,key,index) in users">{{ index+1 }} --- {{key}} --- {{value}}</li>


</div>
<script>

     new Vue({
        el: '#app',
        data: {
            message: '这是一段文本'
        }
    });
    new Vue({
        el: "#app2",
        data: {
            status: 1
        }
    });
    new Vue({
        el: "#app3",
        data: {
            status3: 1
        }
    });
    new Vue({
        el: '#app4',
        data: {
            type: 'name'
        },
        methods: {
            handleToggleClick: function () {
                this.type = this.type === 'name' ? 'mail' : 'name';
            }
        }
    });
    new Vue({
        el:"#app5",
        data:{
            users:{
                name:"lijiangnan",
                gender:"male",
                email:"ljnwsbs@163.com"
            },
            books:[
                {name:"spring",author:"jiangnan"},
                {name:"ajax", author:"jian"},
                {name:"javaee",author:"author"}
            ]
        }
    });

</script>
</body>
</html>